.sidebar {
    height: 100vh;
    min-width: 17rem;
    font-family: 'Inter';
} 

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: stretch;
}
 
.sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
}

.sidebar-item img {
    width: 2.3rem;
}

.sidebar-item-label {
    font-size: 1rem;
    color: #393E46;
}

.sidebar-item:hover {
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.sidebar-item:hover .sidebar-item-label {
    color: #000000;
}
