.sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
}

.sidebar-item:hover {
    background-color: #EEEFE0;
    border-radius: 0.5rem;
}

.sidebar-item img {
    width: 1.2rem;
}

.sidebar-item .label {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #2b2f2d;
}

.sidebar {
    padding: 0.5rem;
    height: 100vh;
    min-width: 18rem;
    background-color: #ffffff;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: stretch;
    font-weight: 550;
}