@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


* {
  box-sizing: border-box;
  font-family: Bitter, Helvetica, Arial, sans-serif;
}

::root {
  font-size: 20px;
}

@theme {
  --color-primary-light: #f1f1f1;
}