.header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 10px 5px 5px lightgray;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-title {
    margin-left: 3rem;
    font-size: 2rem;
    color: black;
}

.header-link-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 70rem) {
  .header-link-container, .header img {
    display: none;
  }
}

.header-link {
    text-decoration: none;
    font-family: 'Bitter';
    font-size: 1.2rem;
    font-weight: 450;
    color: #808080;
}

.header img {
    width: 3rem;
    object-fit: contain;
    margin-right: 2rem;
}