.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Inter';
}

.header-title {
    margin-left: 3rem;
    font-size: 2rem;
    color: black;
}

.header-actions {
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


@media (max-width: 70rem) {
  .header-actions {
    display: none;
  }
}

.search-bar {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 3rem;
    border-radius: 2rem;
    padding: 0.2rem
}

.search-bar button, input {
    background-color: transparent;
    border: none;
    height: 80%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: .5rem;
    width: 15rem;
    font-size: 1.2rem;
    outline: none;
}

.search-button img {
    height: 70%;
    object-fit: contain;
    cursor: pointer;
}

.create-button {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
}

.chip {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.chip img {
    width: 70%;
    height: auto;
}

.chip.profile img {
    width: 100%;
    border-radius: 50%;
}