img {
    width: 100%;
    height: auto;
    border-radius: 15%;
}

.name, .price {
    color: black;
    font-weight: 600;
    font-size: 1.2rem
}

.product-container {
    width: 100%;
    text-align: center;
}